body{
	padding: 0px;
}
/*모바일*/
@media screen and (max-width: 639px) {
	.row1{
		display: inline-block;
		text-align: center;
		/*padding: 20px;*/
		margin: auto 100px;	
	}

	.row2{
		display: inline-block;
		text-align: center;
		/*padding: 20px;*/
		margin: auto 100px;	
	}
	
	.box h3{
		text-align: center;
		color: black;
	}

	.box{
		width: 100px;
		height: 150px;
	}

	.box img{
		width: 100px;
		height: 100px;

	}
}
/*PC*/
@media screen and (min-width: 960px) {
	.row1{
		display: inline-block;
		text-align: center;
		padding: 25px;
		margin: auto 150px;

	}
	.row2{
		display: inline-block;
		text-align: center;
		padding: 25px;
		margin: auto 250px;

	}

	.box h3{
		text-align: center;
		color: black;
	}
	
	.box{
		display: inline-block;
		width: 200px;
		height: 250px;
	}

	.box img{
		width: 200px;
		height: 200px;

	}
}