#nav { font-family:'arial'; }
#nav ul{ width:100%; margin:0; padding:0; }
#nav ul.menu li{ position:relative; float:left; width:100%; list-style-type:none; }
#nav ul.menu li a{ display:block; width:20%; height:10%; line-height:50px; text-indent:30px; color:#000; font-size: 20px; font-weight:bold; text-align: left; text-decoration:none; border-bottom: 1px solid gray;}
#nav ul.menu li .sub a{ position:relative; float:left; display:block; width:20%; z-index:999; background:#white; font-weight:none; color:gray; font-size: 16px; border-bottom: 1px solid white;}
#nav ul.menu li .sub a:hover{ background:white; color:black; }
div{float: left;}
#nav{float: left;}